In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("Resources/charity_data.csv")
application_df.head()

,EIN,NAME,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,10520599,BLUE KNIGHTS MOTORCYCLE CLUB,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,10531628,AMERICAN CHESAPEAKE CLUB CHARITABLE TR,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,10547893,ST CLOUD PROFESSIONAL FIREFIGHTERS,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,10553066,SOUTHSIDE ATHLETIC ASSOCIATION,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,10556103,GENETIC RESEARCH INSTITUTE OF THE DESERT,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

In [2]:
application_df = application_df.drop(['EIN','NAME'],axis=1)

In [3]:
app_counts = application_df['APPLICATION_TYPE'].value_counts()
replace_app = list(app_counts[app_counts < 500].index)
# Replace in dataframe
for app in replace_app:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
application_df.APPLICATION_TYPE.value_counts()

T3       27037
T4        1542
T6        1216
T5        1173
T19       1065
T8         737
T7         725
T10        528
Other      276
Name: APPLICATION_TYPE, dtype: int64

In [4]:
class_counts = application_df['CLASSIFICATION'].value_counts()
replace_class = list(class_counts[class_counts < 1883].index)
# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
Other     2261
C3000     1918
C2100     1883
Name: CLASSIFICATION, dtype: int64

### Attempt 1: Binning additional columns and additonal modifications

In [5]:
aff_counts = application_df['AFFILIATION'].value_counts()
aff_counts

Independent         18480
CompanySponsored    15705
Family/Parent          64
National               33
Regional               13
Other                   4
Name: AFFILIATION, dtype: int64

In [6]:
replace_aff = list(aff_counts[aff_counts < 100].index)
# Replace in dataframe
for aff in replace_aff:
    application_df.AFFILIATION = application_df.AFFILIATION.replace(aff,"Other")
    
# Check to make sure binning was successful
application_df.AFFILIATION.value_counts()

Independent         18480
CompanySponsored    15705
Other                 114
Name: AFFILIATION, dtype: int64

In [7]:
use_counts = application_df['USE_CASE'].value_counts()
use_counts

Preservation     28095
ProductDev        5671
CommunityServ      384
Heathcare          146
Other                3
Name: USE_CASE, dtype: int64

In [8]:
replace_use = list(use_counts[use_counts < 500].index)
# Replace in dataframe
for use in replace_use:
    application_df.USE_CASE = application_df.USE_CASE.replace(use,"Other")
    
# Check to make sure binning was successful
application_df.USE_CASE.value_counts()

Preservation    28095
ProductDev       5671
Other             533
Name: USE_CASE, dtype: int64

In [9]:
org_counts = application_df['ORGANIZATION'].value_counts()
org_counts

Trust           23515
Association     10255
Co-operative      486
Corporation        43
Name: ORGANIZATION, dtype: int64

In [10]:
replace_org = list(org_counts[org_counts < 500].index)
# Replace in dataframe
for org in replace_org:
    application_df.ORGANIZATION = application_df.ORGANIZATION.replace(org,"Other")
    
# Check to make sure binning was successful
application_df.ORGANIZATION.value_counts()

Trust          23515
Association    10255
Other            529
Name: ORGANIZATION, dtype: int64

In [11]:
inc_counts = application_df['INCOME_AMT'].value_counts()
inc_counts

0                24388
25000-99999       3747
100000-499999     3374
1M-5M              955
1-9999             728
10000-24999        543
10M-50M            240
5M-10M             185
50M+               139
Name: INCOME_AMT, dtype: int64

In [12]:
application_df['INCOME_AMT'].mask(application_df['INCOME_AMT'] == '1M-5M', '1M+', inplace=True)
application_df['INCOME_AMT'].mask(application_df['INCOME_AMT'] == '5M-10M', '1M+', inplace=True)
application_df['INCOME_AMT'].mask(application_df['INCOME_AMT'] == '10M-50M', '1M+', inplace=True)
application_df['INCOME_AMT'].mask(application_df['INCOME_AMT'] == '50M+', '1M+', inplace=True)
inc_counts = application_df['INCOME_AMT'].value_counts()
inc_counts

0                24388
25000-99999       3747
100000-499999     3374
1M+               1519
1-9999             728
10000-24999        543
Name: INCOME_AMT, dtype: int64

In [13]:
spec_counts = application_df['SPECIAL_CONSIDERATIONS'].value_counts()
spec_counts

N    34272
Y       27
Name: SPECIAL_CONSIDERATIONS, dtype: int64

In [14]:
application_df = application_df.drop(['SPECIAL_CONSIDERATIONS'],axis=1)

In [15]:
cat_var = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
cat_var

['APPLICATION_TYPE',
 'AFFILIATION',
 'CLASSIFICATION',
 'USE_CASE',
 'ORGANIZATION',
 'INCOME_AMT']

In [16]:
# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
#  YOUR CODE GOES HERE
encode_df = pd.DataFrame(enc.fit_transform(application_df[cat_var]))
# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(cat_var)
encode_df.head()

C:\Users\tmril\anaconda3\envs\mlenv\lib\site-packages\sklearn\utils\deprecation.py:87: FutureWarning: Function get_feature_names is deprecated; get_feature_names is deprecated in 1.0 and will be removed in 1.2. Please use get_feature_names_out instead.
  warnings.warn(msg, category=FutureWarning)

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,APPLICATION_TYPE_T7,APPLICATION_TYPE_T8,AFFILIATION_CompanySponsored,...,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Other,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_1M+,INCOME_AMT_25000-99999
0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [17]:
# Merge one-hot encoded features and drop the originals
#  YOUR CODE GOES HERE
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(cat_var,1)
application_df.head()

C:\Users\tmril\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.

,STATUS,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T10,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,...,USE_CASE_ProductDev,ORGANIZATION_Association,ORGANIZATION_Other,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_1M+,INCOME_AMT_25000-99999
0,1,5000,1,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,1,108590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
2,1,5000,0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,1,6692,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0
4,1,142590,1,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,0.0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0

In [18]:
# Split our preprocessed data into our features and target arrays
#  YOUR CODE GOES HERE
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
#  YOUR CODE GOES HERE
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

C:\Users\tmril\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:4: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  after removing the cwd from sys.path.

In [19]:
# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

### 2nd/3rd Attempts:  Adding neurons to layers and adding hidden layers

In [20]:
# Define the model - deep neural net
number_input_features = len(X_train[0])
# layer 1: from 8 to 16
hidden_nodes_layer1 = 16
# layer 2: from 5 to 12
hidden_nodes_layer2 = 12
# adding layer 3
hidden_nodes_layer3 = 8
nn = tf.keras.models.Sequential()

### 3rd/4th Attempts: Adding hidden layer and activation function is changed

In [21]:
# First hidden layer
# Activation function changed from relu to elu
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, input_dim=number_input_features, activation="elu")
)
# Second hidden layer
## Activation function changed from relu to selu
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, activation="selu"))

## Third hidden layer added
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer3, activation="relu"))

# Output layer
#  YOUR CODE GOES HERE
nn.add(tf.keras.layers.Dense(units=1, activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 16)                528

 dense_1 (Dense)             (None, 12)                204

 dense_2 (Dense)             (None, 8)                 104

 dense_3 (Dense)             (None, 1)                 9

=================================================================
Total params: 845
Trainable params: 845
Non-trainable params: 0
_________________________________________________________________

In [22]:
## Import checkpoint dependencies
import os
from tensorflow.keras.callbacks import ModelCheckpoint

## Define the checkpoint path and filenames
os.makedirs("checkpoints/optimization/",exist_ok=True)
checkpoint_path = "checkpoints/optimization/weights.{epoch:02d}.hdf5"



## Create a callback that saves the model's weights every 5 epochs
cp_callback = ModelCheckpoint(
    filepath=checkpoint_path,
    verbose=1,
    save_weights_only=True,
    period=5,    
)

WARNING:tensorflow:`period` argument is deprecated. Please use `save_freq` to specify the frequency in number of batches seen.

In [23]:
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

In [24]:
fit_model = nn.fit(X_train_scaled, y_train, epochs=100,callbacks=[cp_callback])

Epoch 1/100
804/804 [==============================] - 1s 953us/step - loss: 0.5903 - accuracy: 0.7063
Epoch 2/100
804/804 [==============================] - 1s 913us/step - loss: 0.5609 - accuracy: 0.7294
Epoch 3/100
804/804 [==============================] - 1s 960us/step - loss: 0.5570 - accuracy: 0.7304
Epoch 4/100
804/804 [==============================] - 1s 945us/step - loss: 0.5543 - accuracy: 0.7314
Epoch 5/100
767/804 [===========================>..] - ETA: 0s - loss: 0.5529 - accuracy: 0.7337
Epoch 5: saving model to checkpoints/optimization\weights.05.hdf5
804/804 [==============================] - 1s 941us/step - loss: 0.5533 - accuracy: 0.7328
Epoch 6/100
804/804 [==============================] - 1s 916us/step - loss: 0.5521 - accuracy: 0.7337
Epoch 7/100
804/804 [==============================] - 1s 890us/step - loss: 0.5511 - accuracy: 0.7316
Epoch 8/100
804/804 [==============================] - 1s 963us/step - loss: 0.5507 - accuracy: 0.7325
Epoch 9/100
804/804 [==============================] - 1s 925us/step - loss: 0.5504 - accuracy: 0.7317
Epoch 10/100
796/804 [============================>.] - ETA: 0s - loss: 0.5499 - accuracy: 0.7317
Epoch 10: saving model to checkpoints/optimization\weights.10.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5495 - accuracy: 0.7317
Epoch 11/100
804/804 [==============================] - 1s 979us/step - loss: 0.5494 - accuracy: 0.7313
Epoch 12/100
804/804 [==============================] - 1s 965us/step - loss: 0.5488 - accuracy: 0.7318
Epoch 13/100
804/804 [==============================] - 1s 982us/step - loss: 0.5487 - accuracy: 0.7320
Epoch 14/100
804/804 [==============================] - 1s 961us/step - loss: 0.5482 - accuracy: 0.7319
Epoch 15/100
780/804 [============================>.] - ETA: 0s - loss: 0.5480 - accuracy: 0.7321
Epoch 15: saving model to checkpoints/optimization\weights.15.hdf5
804/804 [==============================] - 1s 982us/step - loss: 0.5480 - accuracy: 0.7323
Epoch 16/100
804/804 [==============================] - 1s 990us/step - loss: 0.5475 - accuracy: 0.7315
Epoch 17/100
804/804 [==============================] - 1s 991us/step - loss: 0.5473 - accuracy: 0.7327
Epoch 18/100
804/804 [==============================] - 1s 969us/step - loss: 0.5477 - accuracy: 0.7320
Epoch 19/100
804/804 [==============================] - 1s 980us/step - loss: 0.5472 - accuracy: 0.7330
Epoch 20/100
769/804 [===========================>..] - ETA: 0s - loss: 0.5468 - accuracy: 0.7337
Epoch 20: saving model to checkpoints/optimization\weights.20.hdf5
804/804 [==============================] - 1s 1ms/step - loss: 0.5472 - accuracy: 0.7333
Epoch 21/100
804/804 [==============================] - 1s 934us/step - loss: 0.5468 - accuracy: 0.7344
Epoch 22/100
804/804 [==============================] - 1s 993us/step - loss: 0.5464 - accuracy: 0.7330
Epoch 23/100
804/804 [==============================] - 1s 982us/step - loss: 0.5467 - accuracy: 0.7335
Epoch 24/100
804/804 [==============================] - 1s 973us/step - loss: 0.5466 - accuracy: 0.7334
Epoch 25/100
786/804 [============================>.] - ETA: 0s - loss: 0.5467 - accuracy: 0.7332
Epoch 25: saving model to checkpoints/optimization\weights.25.hdf5
804/804 [==============================] - 1s 988us/step - loss: 0.5463 - accuracy: 0.7333
Epoch 26/100
804/804 [==============================] - 1s 945us/step - loss: 0.5464 - accuracy: 0.7347
Epoch 27/100
804/804 [==============================] - 1s 970us/step - loss: 0.5461 - accuracy: 0.7328
Epoch 28/100
804/804 [==============================] - 1s 990us/step - loss: 0.5454 - accuracy: 0.7347
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5452 - accuracy: 0.7338
Epoch 30/100
785/804 [============================>.] - ETA: 0s - loss: 0.5465 - accuracy: 0.7337
Epoch 30: saving model to checkpoints/optimization\weights.30.hdf5
804/804 [==============================] - 1s 976us/step - loss: 0.5460 - accuracy: 0.7339
Epoch 31/100
804/804 [==============================] - 1s 984us/step - loss: 0.5452 - accuracy: 0.7352
Epoch 32/100
804/804 [==============================] - 1s 955us/step - loss: 0.5457 - accuracy: 0.7344
Epoch 33/100
804/804 [==============================] - 1s 963us/step - loss: 0.5457 - accuracy: 0.7333
Epoch 34/100
804/804 [==============================] - 1s 933us/step - loss: 0.5456 - accuracy: 0.7338
Epoch 35/100
751/804 [===========================>..] - ETA: 0s - loss: 0.5447 - accuracy: 0.7356
Epoch 35: saving model to checkpoints/optimization\weights.35.hdf5
804/804 [==============================] - 1s 951us/step - loss: 0.5451 - accuracy: 0.7345
Epoch 36/100
804/804 [==============================] - 1s 959us/step - loss: 0.5451 - accuracy: 0.7344
Epoch 37/100
804/804 [==============================] - 1s 936us/step - loss: 0.5449 - accuracy: 0.7338
Epoch 38/100
804/804 [==============================] - 1s 959us/step - loss: 0.5450 - accuracy: 0.7348
Epoch 39/100
804/804 [==============================] - 1s 950us/step - loss: 0.5448 - accuracy: 0.7348
Epoch 40/100
758/804 [===========================>..] - ETA: 0s - loss: 0.5451 - accuracy: 0.7340
Epoch 40: saving model to checkpoints/optimization\weights.40.hdf5
804/804 [==============================] - 1s 946us/step - loss: 0.5450 - accuracy: 0.7345
Epoch 41/100
804/804 [==============================] - 1s 950us/step - loss: 0.5447 - accuracy: 0.7341
Epoch 42/100
804/804 [==============================] - 1s 931us/step - loss: 0.5444 - accuracy: 0.7353
Epoch 43/100
804/804 [==============================] - 1s 950us/step - loss: 0.5446 - accuracy: 0.7349
Epoch 44/100
804/804 [==============================] - 1s 946us/step - loss: 0.5446 - accuracy: 0.7348
Epoch 45/100
773/804 [===========================>..] - ETA: 0s - loss: 0.5445 - accuracy: 0.7346
Epoch 45: saving model to checkpoints/optimization\weights.45.hdf5
804/804 [==============================] - 1s 987us/step - loss: 0.5441 - accuracy: 0.7352
Epoch 46/100
804/804 [==============================] - 1s 949us/step - loss: 0.5440 - accuracy: 0.7354
Epoch 47/100
804/804 [==============================] - 1s 935us/step - loss: 0.5442 - accuracy: 0.7348
Epoch 48/100
804/804 [==============================] - 1s 970us/step - loss: 0.5450 - accuracy: 0.7351
Epoch 49/100
804/804 [==============================] - 1s 984us/step - loss: 0.5439 - accuracy: 0.7349
Epoch 50/100
777/804 [===========================>..] - ETA: 0s - loss: 0.5444 - accuracy: 0.7347
Epoch 50: saving model to checkpoints/optimization\weights.50.hdf5
804/804 [==============================] - 1s 984us/step - loss: 0.5443 - accuracy: 0.7351
Epoch 51/100
804/804 [==============================] - 1s 951us/step - loss: 0.5435 - accuracy: 0.7351
Epoch 52/100
804/804 [==============================] - 1s 937us/step - loss: 0.5436 - accuracy: 0.7348
Epoch 53/100
804/804 [==============================] - 1s 929us/step - loss: 0.5439 - accuracy: 0.7360
Epoch 54/100
804/804 [==============================] - 1s 941us/step - loss: 0.5439 - accuracy: 0.7348
Epoch 55/100
782/804 [============================>.] - ETA: 0s - loss: 0.5443 - accuracy: 0.7349
Epoch 55: saving model to checkpoints/optimization\weights.55.hdf5
804/804 [==============================] - 1s 919us/step - loss: 0.5437 - accuracy: 0.7355
Epoch 56/100
804/804 [==============================] - 1s 968us/step - loss: 0.5436 - accuracy: 0.7357
Epoch 57/100
804/804 [==============================] - 1s 961us/step - loss: 0.5433 - accuracy: 0.7360
Epoch 58/100
804/804 [==============================] - 1s 971us/step - loss: 0.5436 - accuracy: 0.7362
Epoch 59/100
804/804 [==============================] - 1s 953us/step - loss: 0.5435 - accuracy: 0.7350
Epoch 60/100
756/804 [===========================>..] - ETA: 0s - loss: 0.5425 - accuracy: 0.7353
Epoch 60: saving model to checkpoints/optimization\weights.60.hdf5
804/804 [==============================] - 1s 947us/step - loss: 0.5433 - accuracy: 0.7349
Epoch 61/100
804/804 [==============================] - 1s 952us/step - loss: 0.5431 - accuracy: 0.7356
Epoch 62/100

804/804 [==============================] - 1s 967us/step - loss: 0.5430 - accuracy: 0.7363
Epoch 63/100
804/804 [==============================] - 1s 928us/step - loss: 0.5429 - accuracy: 0.7360
Epoch 64/100
804/804 [==============================] - 1s 908us/step - loss: 0.5431 - accuracy: 0.7350
Epoch 65/100
803/804 [============================>.] - ETA: 0s - loss: 0.5430 - accuracy: 0.7356
Epoch 65: saving model to checkpoints/optimization\weights.65.hdf5
804/804 [==============================] - 1s 957us/step - loss: 0.5430 - accuracy: 0.7356
Epoch 66/100
804/804 [==============================] - 1s 930us/step - loss: 0.5429 - accuracy: 0.7359
Epoch 67/100
804/804 [==============================] - 1s 928us/step - loss: 0.5428 - accuracy: 0.7369
Epoch 68/100
804/804 [==============================] - 1s 938us/step - loss: 0.5431 - accuracy: 0.7363
Epoch 69/100
804/804 [==============================] - 1s 952us/step - loss: 0.5425 - accuracy: 0.7359
Epoch 70/100
754/804 [===========================>..] - ETA: 0s - loss: 0.5409 - accuracy: 0.7374
Epoch 70: saving model to checkpoints/optimization\weights.70.hdf5
804/804 [==============================] - 1s 950us/step - loss: 0.5426 - accuracy: 0.7355
Epoch 71/100
804/804 [==============================] - 1s 960us/step - loss: 0.5428 - accuracy: 0.7359
Epoch 72/100
804/804 [==============================] - 1s 926us/step - loss: 0.5426 - accuracy: 0.7360
Epoch 73/100
804/804 [==============================] - 1s 911us/step - loss: 0.5427 - accuracy: 0.7363
Epoch 74/100
804/804 [==============================] - 1s 947us/step - loss: 0.5424 - accuracy: 0.7372
Epoch 75/100
756/804 [===========================>..] - ETA: 0s - loss: 0.5428 - accuracy: 0.7346
Epoch 75: saving model to checkpoints/optimization\weights.75.hdf5
804/804 [==============================] - 1s 942us/step - loss: 0.5426 - accuracy: 0.7352
Epoch 76/100
804/804 [==============================] - 1s 940us/step - loss: 0.5423 - accuracy: 0.7369
Epoch 77/100
804/804 [==============================] - 1s 998us/step - loss: 0.5426 - accuracy: 0.7368
Epoch 78/100
804/804 [==============================] - 1s 946us/step - loss: 0.5427 - accuracy: 0.7376
Epoch 79/100
804/804 [==============================] - 1s 942us/step - loss: 0.5423 - accuracy: 0.7362
Epoch 80/100
775/804 [===========================>..] - ETA: 0s - loss: 0.5424 - accuracy: 0.7360
Epoch 80: saving model to checkpoints/optimization\weights.80.hdf5
804/804 [==============================] - 1s 927us/step - loss: 0.5422 - accuracy: 0.7357
Epoch 81/100
804/804 [==============================] - 1s 945us/step - loss: 0.5423 - accuracy: 0.7377
Epoch 82/100
804/804 [==============================] - 1s 988us/step - loss: 0.5424 - accuracy: 0.7352
Epoch 83/100
804/804 [==============================] - 1s 942us/step - loss: 0.5423 - accuracy: 0.7362
Epoch 84/100
804/804 [==============================] - 1s 960us/step - loss: 0.5419 - accuracy: 0.7368
Epoch 85/100
802/804 [============================>.] - ETA: 0s - loss: 0.5418 - accuracy: 0.7368
Epoch 85: saving model to checkpoints/optimization\weights.85.hdf5
804/804 [==============================] - 1s 954us/step - loss: 0.5417 - accuracy: 0.7370
Epoch 86/100
804/804 [==============================] - 1s 952us/step - loss: 0.5421 - accuracy: 0.7366
Epoch 87/100
804/804 [==============================] - 1s 938us/step - loss: 0.5423 - accuracy: 0.7374
Epoch 88/100
804/804 [==============================] - 1s 947us/step - loss: 0.5418 - accuracy: 0.7360
Epoch 89/100
804/804 [==============================] - 1s 927us/step - loss: 0.5419 - accuracy: 0.7360
Epoch 90/100
761/804 [===========================>..] - ETA: 0s - loss: 0.5415 - accuracy: 0.7368
Epoch 90: saving model to checkpoints/optimization\weights.90.hdf5
804/804 [==============================] - 1s 939us/step - loss: 0.5419 - accuracy: 0.7364
Epoch 91/100
804/804 [==============================] - 1s 957us/step - loss: 0.5416 - accuracy: 0.7370
Epoch 92/100
804/804 [==============================] - 1s 943us/step - loss: 0.5418 - accuracy: 0.7371
Epoch 93/100
804/804 [==============================] - 1s 933us/step - loss: 0.5419 - accuracy: 0.7353
Epoch 94/100
804/804 [==============================] - 1s 971us/step - loss: 0.5422 - accuracy: 0.7374
Epoch 95/100
792/804 [============================>.] - ETA: 0s - loss: 0.5418 - accuracy: 0.7356
Epoch 95: saving model to checkpoints/optimization\weights.95.hdf5
804/804 [==============================] - 1s 969us/step - loss: 0.5417 - accuracy: 0.7358
Epoch 96/100
804/804 [==============================] - 1s 975us/step - loss: 0.5415 - accuracy: 0.7370
Epoch 97/100
804/804 [==============================] - 1s 946us/step - loss: 0.5416 - accuracy: 0.7381
Epoch 98/100
804/804 [==============================] - 1s 932us/step - loss: 0.5415 - accuracy: 0.7362
Epoch 99/100
804/804 [==============================] - 1s 940us/step - loss: 0.5417 - accuracy: 0.7366
Epoch 100/100
794/804 [============================>.] - ETA: 0s - loss: 0.5417 - accuracy: 0.7368
Epoch 100: saving model to checkpoints/optimization\weights.100.hdf5
804/804 [==============================] - 1s 967us/step - loss: 0.5417 - accuracy: 0.7368

In [25]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5546 - accuracy: 0.7280 - 366ms/epoch - 1ms/step
Loss: 0.5546169281005859, Accuracy: 0.7280466556549072

In [26]:
# Export our model to HDF5 file
nn.save("Resources/AlphabetSoupCharity_Optimization.h5")